<!doctype html>

<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- Fuente a usar -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">

  <link rel="stylesheet" href="/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="empresa-body">
  {{>header}}
  <div class="container">
    <h1>Empresas para la búsqueda "{{ nombre }}"</h1>

    <div class="row">
      <div class="col-12 col-md-3">
        <h2 class="text-center">Servicios</h2>
      </div>
      <div class="col-12 col-md-9">
        <div class="input-group mb-3">
          <form action="empresas" action="GET" class="form-inline">
            <div class="row">
              <div class="col-lg-8">
                <input type="text" name="search" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-buscar">
              </div>
              <div class="col-lg-4">
                 <input type="submit" value="Buscar" class="btn btn-outline-secondary"></input>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mb-3">
        <div class="border">
          {{#each servicios}}
          <a class="d-block border-bottom border-white text-secondary text-decoration-none p-1"
            href="/empresas?servicio={{this.nombre}}">{{this.nombre}}</a>
          {{/each}}
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-9">
        <div class="row text-center">
            {{#each empresas}}
              <div class="col-12 col-md-6">
                <div class="p-2 border">
                  <img src="{{this.logo}}" class="img-fluid" style="max-height: 300px">
                  <p>Error</p>
                  <h2>{{this.nombre}}</h2>
                </div>
              </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>